<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title #{pageName}
    body
        header.barra
            h1 Uptask - Administrador de proyectos
            a(href="#") Cerrar sesión

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/new-project" class="boton") Nuevo Proyecto
                        span +

                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(projects && projects.length)
                            each project in projects
                                li
                                    a(href=`/projects/${project.url}`)= project.name

            block contenido
            
        script(src="/dist/bundle.js")