<!DOCTYPE html>
html(lang='en')
    head
        include partials/header
    body.login 
        .contenedor-formulario
            h1= pageName

            include partials/errors

            p Coloca tu nueva contrase単a
            form.caja-login(method="POST")
                .campo
                    label(for="password") Nueva contrase単a:
                    input(type="password" name="password" placeholder="Nueva contrase単a",)
                .campo.enviar   
                    input.boton(type="submit", value="Reestablecer contrase単a")