doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title "Reestablecer contrase単a - Uptask"
        style
            include ./email.css
    body
        h2 Reestablecer contrase単a de UpTask
        p Hola, has solicitado reestablecer tu contrase単a, haz click en el siguiente enlace para reestablecerlo, este enlace es temporal, si se vence vuelve a solicitarlo.
        a(href=`${resetUrl}`) Ir a Reestablecer Contrase単a
        p Si no puedes acceder a este enlace, visita #{resetUrl}.
        p Si no solicitaste este email, puedes ignorarlo.